@font-face{
    font-family: 'goboldRegular';
    src: url(./fonts/gobold/Gobold\ Regular.otf);
}

.gobold{
    font-family: 'goboldRegular';
}

@font-face{
    font-family: 'daysRegular';
    src: url(./fonts/28days/28\ Days\ Later.ttf);
}

.days{
    font-family: 'daysRegular';
}