.view{
  height: 75vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
#videobackground .gradient {
  /* background: -moz-linear-gradient(20deg, rgba(179, 223, 22, 0.6), rgba(45, 207, 58, 0.69) 100%); */
  background: -webkit-linear-gradient(10deg, rgba(180, 223, 22, 0.452), rgba(45, 207, 58, 0.493) 100%);
  /* background: linear-gradient(20deg, rgba(179, 223, 22, 0.6), rgba(45, 207, 58, 0.69) 100%); */
  /* height: 24rem; */
}

#videobackground .view video {
top: 0!important;
left: 0!important;
transform: none!important;
width: 100vh;
/* height: 48rem; */
}



/* #body{
    margin:0;
    padding:0;
} */
/* .banner{
  width: 100%;
  height: 20rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center
} */
/* .banner video{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
} */